// Import Functions
@import "helpers/functions";
// Import Variables
@import "helpers/variables/colours";
@import "helpers/variables/type";
@import "helpers/variables/site-variables";

// Import Mixins
@import "helpers/mixins";

// Import Bourbon
@import "vendor/bourbon/bourbon";
// Import Neat Grid Settings
@import "helpers/grid-settings";
// Import Neat
@import "vendor/neat/neat";
// Import flickity
@import "vendor/flickity";
// Import Baseline
@import "vendor/baseline";





// Import Base styles
@import "base/baseline-grid";
@import "base/scaffolding";
@import "base/typography";


// Import Layout Styles
@import "layout/navigation";
@import "layout/header";
@import "layout/footer";
@import "layout/home-gallery";
@import "layout/about-panel";
@import "layout/work-header";
@import "layout/work-grid";
@import "layout/work-single";



