.about-panel {
    position: fixed;
    top: 0px;
    right: -90vw;
    width: 90vw;
    height: 100%;
    background-color: #fff;
    z-index: 1500;
    overflow: auto;
    @include pad(($lh-baseline * 3) default default ceil($gutter * 1));
    transition: all 0.5s ease;
    transform: translateZ(0);

     @include media($bp-tablet-up) {
        @include pad(($lh-baseline * 12) ceil($gutter * 2) default ceil($gutter * 2));
        right: -80vw;
        width: 80vw;
    }
    @include media($bp-desktop-up) {
        right: -50vw;
        width: 50vw;
    }
    @include media($bp-l-desktop-up) {
        right: -35vw;
        width: 35vw;
    }
}

.show-about {
    transform: translateX(-90vw);
    @include media($bp-tablet-up) {
        transform: translateX(-80vw);
    }
    @include media($bp-desktop-up) {
        transform: translateX(-50vw);
    }
     @include media($bp-l-desktop-up) {
        transform: translateX(-35vw);
    }
}


.about-close{
  @include fs($fs-1);
  font-family: $font-family-base-light;
  font-weight: $font-weight-light;
  @include lh(4);
}


.page-fade {
    visibility: hidden;
    @include opacity(0);
    @include page-cover(fixed);
    z-index: 1400;
    background: $grey-dark-overlay;
    transition: all 0.45s ease;
}

.page-fade.faded {
    visibility: visible;
    @include opacity(1);

}



.about-content--wrap {
     padding-top: ($lh-baseline * 18);
  @include media($bp-tablet-up) {
  padding-top: ($lh-baseline * 26);
  }

}

.about-panel h6 {
    color: $grey-light;
    //margin: 0 0 ($lh-baseline * 3);
}




.profile-text {
    margin: 0 0 ($lh-baseline * 10);
    @include lh(4);
}

.contact-links{
    margin: 0 0 ($lh-baseline * 10);
}

.contact-links p, .social-links p {
    margin: 0 0 ($lh-baseline * 1);
    @include lh(4);
}


.contact-links a, .social-links a {
    @include link-underline($white, $link-underline, $link-underline);
}