* {
  //backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
    @extend .container;


    %holding-type {
    margin-bottom: ($lh-baseline * 7);
    font-family: $font-family-base-bold;
    font-weight: $font-weight-bold;
    @include fs($fs-1)
    @include lh(6)
}

h1 {
    @extend %holding-type;
    color: hsla(0, 0, 100, 0.25);
}
p {
    @extend %holding-type;
    color: $white;
}
ul {
    @extend %holding-type;
    color: $white;
}
i {
    font-style: normal;
    font-weight: 300;
}

a {
    @include link-underline($midnight, $link-underline, $link-underline);
}

}

.content-wrap {
}

.em {
letter-spacing: -0.5px;
}

.arrow {
font-family: Helvetica, Arial, sans-serif;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  padding-left: 0;
}

.hide {
    transition: all 0.25s ease-in-out;
    opacity: 0;
    padding-left: 10px;
}