.main-gallery{
    background:$grey-light;


}
.gallery-cell {
  width: 100%; /* full width */
  height: 30vh; /* height of gallery */
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  @include media($bp-tablet-up) {
    height: 90vh; /* height of gallery */
}
}


.one {
    background:$grey-base;
}
.two {
background:$grey-lightest;
}
.three{
background:$grey-light;
}
.gallery-cell.is-selected {
  opacity: 1;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: $grey-base;
}
.flickity-prev-next-button.no-svg {
  color: $grey-base;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 5%;
}
/* white circles */
.flickity-page-dots .dot {
  width: 6px;
  height: 6px;
  opacity: 0.35;
  background: $grey-base;
  border: none;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $grey-base;
  opacity: 1;
}


/* enable Flickity by default */
.main-gallery:after {
  content: 'flickity';
  display: none; /* hide :after */
}

@include media($bp-gallery-down) {
  .main-gallery:after {
    content: '';
  }
}