.site-nav {
  background: transparent;
  z-index: 1000;
  transition: all 0.25s ease;
  @include media($bp-tablet-up) {
    background: none;
    padding-top: $lh-baseline * 12;
  }
}

.nav-logo {
  display: block;
  white-space: nowrap;
  @include fs(1);
  @include lh(10);
  float: left;
  margin-bottom: 0;
  @include media($bp-tablet-up) {
    @include lh(4);
  }
}

.nav-logo a {
//display: inline-block;
}

.nav-links {
  float: right;
}

.nav-links ul {
  @include list-unstyled();
}

.nav-links ul li {
  @include fs(1);
  @include lh(10);
  display: inline-block;
  float: left;
  padding-left: ceil($gutter * 1);
  @include media($bp-tablet-up) {
    @include lh(4);
    padding-left: ceil($gutter * 2);
  }
}

.nav-links ul li:first-child {
  padding-left: 0;
}
