.standfirst-project-list {
  @include row();
  transform: translateZ(0);
  transition: all 0.4s ease;
  padding-bottom: ($lh-baseline * 60);
  @include media($bp-tablet-up) {
  padding-bottom: ($lh-baseline * 30);
  min-height: 280px;
  }
}

.accordion-tabs-minimal {
  @include clearfix;
  padding: 0;
  transition: all 0.4s ease;
  margin-bottom: 0;

  li.tab-header-and-content {
    list-style: none;
    display: inline;
    transition: all 0.4s ease;
  }

  a.tab-link {
    transition: all 0.4s ease;
    @include link-underline($white, $white, $white);
    margin: 0 $gutter ($lh-baseline * 4) 0;
    @include lh(4);
    text-decoration: none;
    color: $grey-lightest;
    @include inline-block;
      border-top: 0;


    &:hover {

    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      color: $grey-light;
      @include link-underline($white, $link-underline, $link-underline);

    }
  }

  .tab-content {
    position: absolute;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    float: left;

  }
}


.tab-content.is-open {

  opacity: 1;
  visibility: visible;
  display: block;

}

.tab-content p {
  @include fs(1);
  @include lh(5);
  padding-top: 2px;
  margin-bottom: 0;
  @include media($bp-tablet-up) {
  padding-top: 3px;
  @include fs($fs-1);
  @include lh(6);
  }
}


.tab-content a{
  @include link-underline($white, $link-underline, $link-underline);
}
