$white: hsla(0, 0, 100, 1);
$white-hover: hsla(0, 0, 100, 0.25);
$white-fade: hsla(0, 0, 100, 0.5);
$midnight: #060C13;


// Text Colour
$text-color:  $white;
$link-color:  $white;
$link-hover-color:  $white-hover;

// Link underline colour
$link-underline: $white-hover;